{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Car Management System · Signup</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">



    <link href="{%static 'custom.css'%}" rel="stylesheet">


    <link href="{%static 'sign-in.css'%}" rel="stylesheet">

</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">


    {%include 'theme.html'%}


    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="{%static 'bootstrap-logo.svg'%}" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">
                Please sign up
            </h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <!--Link to login-->
            <a href="{% url 'authentication:login' %}" class="d-block mt-2 mb-2 small">Already have an account? Sign
                in</a>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; Car Management Sys 2024</p>
        </form>
    </main>

    <!--Javascript-->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}">
    </script>
    <script src="{%static 'color-modes.js'%}"></script>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
</body>

</html>